@page
@model IndexModel
@{
    ViewData["Title"] = "Start page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis posuere risus, tincidunt tincidunt sem. Cras ut sapien enim. Aenean viverra, nibh et efficitur fringilla, nisi urna convallis purus, eu laoreet tellus nibh sit amet leo. Nulla a ullamcorper dui. Pellentesque in sapien vel orci hendrerit lacinia non eget ligula. Praesent lobortis metus eu mauris porta scelerisque. Curabitur dapibus euismod dui, a varius lacus aliquam quis. Nunc aliquet velit et lorem dignissim, viverra sollicitudin mauris tristique. Suspendisse turpis orci, congue quis bibendum quis, lacinia nec nunc. Proin venenatis blandit efficitur.</h3>
    <a asp-page="/Films/Films" class="btn btn-success btn-lg m-3">Get started!</a>
</div>

