@page
@model IndexModel
@{
    ViewData["Title"] = "Start page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <h3></h3>
    <a asp-page="/Films/Films" class="btn btn-success btn-lg m-3">Войти</a>
</div>

